
.block {
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px #282c34;

}
.card {
    display: inline-block;
    margin: 25px;
    width: 18rem;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
}