.form-control {

}

.formControl.error input,
.formControl.error textarea {
    border:  #e82b2b 1px solid;
}

.formControl.error span {
    color: red;
}
.formError {
    border: red 1px solid;
    padding: 5px;
    color: #e82b2b;
}